@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --semi-background: #F4F8FD;
  --secondary: #016BFD;
  --accent: #8E8D8C;
  --dark-accent: #000000;
}

@media (prefers-color-scheme: dark) {
  :root {
    
  }
}
* {
  box-sizing: border-box;
}

body {
  overflow-x: clip;
 
}
